---
import Main from '../layouts/Main.astro';
---

<Main title="KCSU | Minutes & Documents">
    <h1>KCSU Documents</h1>
    <h3>Constitution & Standing Orders</h3>
    <p>
        The KCSU is governed by a pair of documents known as it's constitution and standing orders. These dictate how we do business, conduct elections, run meetings etc. The chair is responsible for interpreting and understanding these documents so any queries and they should be your first contact.
    </p>
    <br>
    <a href={`put in link to constitution`} style="color: var(--grey-400);">
         KCSU Constitution
    </a>
    <br>
    <br>
    <a href={`put in link to standing orders`} style="color: var(--grey-400);">
        KCSU Standing Orders
    </a>
    <p>(These links aren't in place yet as we need to confirm how the documents will be viewed)</p>
    <br>
    <h3>Minutes</h3>
    <p>
        Business conducted at each meeting is then summarised by the coordinator in the minutes, which are then circulated to the student body by email. These are not available here as they can only be accesed by email from current KCSU members (all undergrads), however if you cannot find minutes of interest, feel free to contact the chair, president, or coordinator who can provide you with them.
    </p>
    <br>
    <h3>Privacy Policy</h3>
    <p>
        KCSU collects your information in accordance with our privacy policy which can be found below
    </p>
    <br>
    <a href={`https://docs.google.com/document/d/1TdlqKOIATj2MuTaNxr6W52P9B_6yNuvy/edit?usp=sharing&ouid=117753102761722651137&rtpof=true&sd=true`} style="color: var(--grey-400);">
        KCSU Privacy Policy
    </a>
</Main>