---
import Main from '../layouts/Main.astro';
import ExecTable from '../components/ExecTable.astro';
---

<Main title="KCSU | The Exec">
    <div class="Overview">
        <h1>The KCSU Exec</h1>
        <p>
        The KCSU Exec are elected by the student body in four sets of elections each year, week 3 and 6 of Michealmas and Lent term.
        Below are the current members of the exec, and the email to contact them on
        </p>
    </div>

    <ExecTable/>

</Main>