---
import Main from '../layouts/Main.astro';
---

<Main title="KCSU | History of the KCSU">
    <h1>The KCSU</h1>
    <h3>What is the KCSU?</h3>
    <p>The KCSU (the King's College Student Union) is made up of all the undergraduates at King's. As a member of the KCSU, you can run for and vote in KCSU elections, attend open meetings, and have a say in how the college should be run. There are 19 elected roles on the KCSU, each covering a different aspect of College life. Elected members of the KCSU (the 'Exec') have different responsibilities depending on their roles, including sitting on College committees, voting on college decisions, designating funding, organising socials and formals, and ensuring the students they represent have their voices heard. 
        The KCSU has these powers because students in the past have demanded them from college. As a union, we are not employed by College, and have a separate constitution and procedures. When the students disagree with decisions the college has made, the KCSU can act against the College to ensure our voices are heard. </p>
    <br>
    <h3>How does it work?</h3>
    <p>The KCSU exec discusses the decisions that KCSU and College are making each week in the Exec meeting, which takes place on Sundays at 17:00. Any member of the KCSU is allowed to attend these meetings-- please email chair@kcsu.org.uk if you would like to attend so we can make sure you have a seat and know where the meeting will take place! The KCSU also communicates what is going on by sending out minutes each week, which all undergraduates will receive. 
        We also hold Open Meetings, usually twice a term. During these, new Exec members are elected, big issues are discussed and voted on, and policy changes are debated. This is a good way to get your voice heard, and to bring issues, ideas, or questions to immediate attention. 
        
        If you have any issues or ideas and don't know who to talk to, you can email your KCSU reps (you can find their emails here [link to emails page]), or you can bring things up at Exec meetings or open meetings. Between us, the KCSU exec sits on almost every committee, and is aware of pretty much all the decisions being made in College, so we know who to talk to to get things done! We are much stronger (and more likely to enact lasting change) when we work together. </p>
    </div>
     <div class="middle">

        <h3>History of the KCSU </h3>
    <p>In the late 1800s, the sports clubs at King's banded together to reduce the fees that members had to pay to play in more than one team. This group was called the 'Amalgamation Club', and membership included access to the common room and 'Reading Room'. All students, undergraduate and postgraduate, could join the Club. Newspapers were provided in the Reading Room, and meetings were held in a very similar way to KCSU meetings now. 
        In the 1960s, students were first allowed on Council. They didn't have a vote, and could only attend the Open Business, but their inclusion on Council marked the beginning of the change from the Amalgamation Club, as a sports club group, to the KCSU as a social and political organisation. By the 1970s, the KCSU was in full swing, and a number of protests from students meant that KCSU representatives were allowed to sit and vote on the majority of committees in College. The KCSU campaigned for the inclusion of women in King's in the late 1960s, and engaged in protests about divestment, green energy, and equal representation throughout the 1970s and 1980s. 
        The KCSU still follows the same structure and aims: organised to support students at King's, and to act together to ensure the best possible experience for students now and in the future. </p>
    <br>
    <h3>Your responsibilities as a KCSU member </h3>
    <p>All undergraduates at King's are members of the KCSU. As a member, you should come to the Open Meetings, vote on motions and elections, and participate in feedback. Doing so allows the KCSU Exec to run effectively, and makes sure that the Exec are serving the best interests of the students! You should also read the minutes if you wish to stay informed about what's going on in College, as most of the issues will affect you and your experience as a student! Getting involved is the best way to have your voice heard in College. </p>
    <br>
    <h3>The responsibilities of the KCSU Exec</h3>
    <p>The KCSU Exec are bound by the KCSU Constitution, and are required to fulfil the parameters of their role. All KCSU Exec officers are required to attend the weekly (bi-weekly in Easter term) Exec meetings, and to update the meetings about the committees, meetings and events they've engaged with through the week. Some KCSU Exec officers are required to attend specific meetings and groups, but this depends on the role. If you would like to raise an issue about how a KCSU officer is fulfilling their role, you can email the chair (chair@kcsu.org.uk), the President (president@kcsu.org.uk), or the Vice-President (vice.president@kcsu.org.uk) to discuss it. </p>
    <br/>

</Main>