---
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Squiggle from "../components/squiggle.astro";
---

<Layout title="KCSU | King's College Student Union">
    <main>
        <img
            src = "/images/kingsAtNight.png";
            alt = "Kings chapel at night";
            class="main-image "
        />
		<div class="need">
            <ButtonLink href="/need" imgname="/images/usefulButton.png" arrowcol="white">INFO/CONTACT<span>&rarr;</span></ButtonLink>
            <br/>
            <div >
                <p class="heading" >Need Help?</p>
                <p>Welfare resources, Accommodation information and maintainance requests, book formals and check your EPOS balance</p>

            </div>
        </div>

        <div class="whats">
            <div >
                <p class="heading">Whats going on?</p>
                <p>Find out what events are being held by the KCSU!</p>
                

            </div>
            <br/>
            <ButtonLink href="https://talks.cam.ac.uk" imgname="/images/calanderButton.png" arrowcol="white">Kings Calander<span>&rarr;</span></ButtonLink>

        </div>
    
        <Squiggle colour_top="#36293a" colour_bottom="#184862"/>

		<div class="societies">
            <ButtonLink href="/soc" imgname="/images/socButton.png" arrowcol="white">INFO/CONTACT<span>&rarr;</span></ButtonLink>
            <br/>            
            <div>
                <p class="heading">Societies!</p>
                <p>Find out what societies kings has and get involved!</p>
            </div>
            
        </div>

        <Squiggle colour_top="#184862" colour_bottom="#00A8B5"/>

        <div class="meet">
            
            <div >
                <p class="heading">Meet the KCSU!!<p>
                <p>Find out who represents you!</p>
            </div>
            <br/>
            <ButtonLink href="/meet" imgname="/images/meetButton.png" arrowcol="#36293a">Kings Calander<span>&rarr;</span></ButtonLink>

        </div>
        <Squiggle colour_top="#00A8B5" colour_bottom="#ffaa2b"/>

    </main>
</Layout>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
        margin-top: 2rem;
    }

    .socials-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
		margin-bottom: 2rem;
    }

    @media screen and (max-width: 568px) {
        .hero-image {
            object-fit: cover;
            width: 100%;
            height: 200px;
        }
    }

</style>
