---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "@astrojs/image/components";
import SocialCard from "../components/SocialCard.astro";
import ContactTable from "../components/ContactTable.astro";

const exec = [
	{
		role: "President",
		name: "Timi Olumide-Wahab",
		email: "president@kcsu.org.uk"
	},
	{
		role: "Vice-President",
		name: "Dan Erwig",
		email: "vice.president@kcsu.org.uk"
	},
]
---

<Layout title="KCSU | King's College Student Union">
    <main>
		<p class="info">
            &#128679; A <strong>brand new KCSU website</strong> is currently under
            construction! &#128679;
            <br />
            The old (and very out of date) site is still available at <a
                href="https://old.kcsu.org.uk">old.kcsu.org.uk</a
            >. Expect to see more content here soon, but for now you can check
            out the information and useful links below.
        </p>
        <h1>Welcome to <span class="text-gradient">KCSU</span>!</h1>
        <Image
            format="jpg"
            class="hero-image"
            src="/images/kings.jpg"
            alt="King's College in Autumn"
            width={800}
            height={250}
            fit="cover"
        />
		<div class="info">
            <h3>Who are we?</h3>
            King's College Student Union (KCSU for short) is your representative
			body, and a student source of information, support and advice.
			We're here to help you whether you're a fresher, a finalist, or
			even a prospective student.
        </div>
        <ul role="list" class="link-card-grid">
            <Card
                href="https://www.kings.cam.ac.uk/"
                title="College Site"
                body="The official King's college website!"
            />
			<Card
                href="https://astro.build/integrations/"
                title="KORDs"
                body="Check out what King's accommodation has to offer."
            />
            <Card
                href="https://store.kcsu.org.uk/"
                title="KiFoMaSy"
                body="Get your formal tickets with our in-house ticketing system."
            />
        </ul>
		<ul role="list" class="socials-grid">
            <SocialCard
                href="https://www.facebook.com/groups/895524667136537"
                title="Facebook Group"
                bg="#4267B2"
				icon="mdi:facebook"
            />
			<SocialCard
                href="https://www.instagram.com/kcsucambridge"
                title="KCSU Instagram"
                bg="#e05170"
				icon="mdi:instagram"
            />
        </ul>
		<ContactTable exec={exec} />
    </main>
	<footer>
		<p>
			&copy; King's College Student Union 2023
		</p>
	</footer>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
    }

    .hero-image {
        margin: 1rem 0;
        width: 100%;
        height: auto;
        border-radius: 0.4rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
        margin-bottom: 0.5rem;
    }

	h3 {
		margin: 0;
		/* color: rgb(var(--accent)); */
	}
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .info {
        line-height: 1.6;
        margin: 0.5rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .info a {
        color: rgb(var(--accent));
        border-radius: 4px;
    }
    .info strong {
        color: rgb(var(--accent));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }

    .socials-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
		margin-bottom: 2rem;
    }

	footer {
		margin-top: 2rem;
		color: #888;
		text-align: center;
	}
</style>
