---
import SocTable from "../components/socTable.astro";
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";

---
<Layout title="Societies | King's College Student Union">
    <main class="whole">
        <BackButton/>
        <h1>Sports and Societies!</h1>
        <p>Kings has lots of societies you can get involved in.
            Most are listed beloew alongside the students that currently run them,
            feel free to get in contact with them if you have any interest! If there
            is a society which you would like to see that you cannot find on here you
            are able to start your own and the KCSU can support that.
        </p>
        <SocTable/>
    </main>
</Layout>


<style>
    .whole{
        padding: 1rem;
        color: white;
        background-color: #184862;
    }


</style>