---
import Main from '../layouts/Main.astro';
import SocTable from "../components/SocTable.astro";
---

<Main title="KCSU | College Societies">
    <h1>Sports and Societies!</h1>
    <p>Kings has lots of societies you can get involved in.
        Most are listed below alongside the students that currently run them,
        feel free to get in contact with them if you have any interest! If there
        is a society which you would like to see that you cannot find on here you
        are able to start your own and the KCSU can support that.
        <SocTable/>
    </p>
</Main>


