---
import "../styles/global.css";
---

<footer>

    <p>
        <a href={`https://www.instagram.com/kcsucambridge/?hl=en`}
            style="color:--kings-purple;" 
            aria-label="Link to the KCSU Instagram"
            >
            Instagram
        </a>
        &copy; King's College Student Union 2024 &#2022;        
        <a href={`https://docs.google.com/forms/d/1ofL0ne-eGh534SzosgOwSWiRL44pUR0h2SXYbeTKk1Q/viewform?edit_requested=true`}
            style="color:--kings-purple;" 
            aria-label="Link to Google Feedback Form"
            >
            Any Ideas for us?
        </a>
    </p>

</footer>

<style>
    footer {
      padding: 3rem 0;
      text-align: center;
      font-size: 0.9rem;
    }
    a {
        color:var(--kings-purple);
    }
  </style>