---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0  " />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        
		<title>{title}</title>
	</head>
	<body>
		<slot />
        <footer>
            <p>
                &copy; King's College Student Union 2024 &#2022;        
                <a href={`https://docs.google.com/forms/d/1ofL0ne-eGh534SzosgOwSWiRL44pUR0h2SXYbeTKk1Q/viewform?edit_requested=true`} style="color: black;">
                    Any Ideas for us?
                </a>
            </p>

        </footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #b862da 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		
        margin: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	main {
        /*for some reason on android theres a default margin so just compensate */
        margin: -10px;
        
    }
    *{
        margin:0;
    }
    .main-image {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    
    
    }

	h3 {
		margin: 0;
		/* color: rgb(var(--accent)); */
	}

    .need{
        display: grid;
        align-items: center; 
        grid-template-columns: 8fr 1fr 15fr;
        padding: 12%;
        background-color: #36293a;
        color: white;
        
    }
    .whats{
        display: grid;
        align-items: center; 
        grid-template-columns: 15fr 1fr  8fr;
        padding: 12%;
        background-color: #36293a;
        color: white;
    }
    .societies{
        display: grid;
        align-items: center; 
        grid-template-columns: 8fr 1fr  15fr;
        padding: 12%;
        background-color: #184862;
        color: white;
    }
    .meet{
        display: grid;
        align-items: center; 
        grid-template-columns: 15fr 1fr 8fr;
        padding: 12%;
        background-color: #00A8B5;
        color: #36293a;
    }
    

	.info {
        line-height: 1.6;
        margin: 0.2rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .info :where(a) {
        color: rgb(var(--accent));
        border-radius: 4px;
    }
    .info strong {
        color: rgb(var(--accent));
    }

    .info p {
        margin-bottom: 0;
    }
    .heading {
        padding: 1rem;
        display: block;
        font-size: 2.5rem;
        font-weight: bold;
    }

    footer {
		
		background-color: #ffaa2b;
		text-align: center;
	}
    .hovercontainer:hover{
        opacity:0.6;
    }
    @media screen and (max-width: 568px) {
        main {
            padding: 0.5rem;
        }
    }
</style>
